.imgs {
  padding: auto;
  margin: 10%;
  width: 80%;
  height: auto;
  float: right;
}

.row {
  background-color: white;
  border: 2px solid black;
}

.col-6 {
  border: 2px solid black;
}

.bold-text {
  font-weight: bold;
}

body {
  background-color: black;
}
